<link rel="stylesheet" href="css/allPackages.css">
<div class="travellist container-fluid">
    <div id="package-container" class="row no-gutters">
    </div>
</div>

<template id="template-package-container">
    <div class="card-container">
        <div class="frame">
            <button class="delete">X</button>
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="#" alt="Card image cap">
                <div class="card-block">
                    <ul class="card-text d-flex flex-column align-items-center">
                        <li class='d-flex justify-content-center'>
                            <i class="material-icons">location_city</i>&nbsp;
                        </li>
                        <li class='d-flex justify-content-center'>
                            <i class="material-icons">attach_money</i>&nbsp;
                        </li>
                        <li class='d-flex justify-content-center'>
                            <i class="material-icons">date_range</i>&nbsp;
                        </li>
                    </ul>
                    <div class="more btn btn-primary d-flex justify-content-center align-items-center">
                        <i class="material-icons">more</i>&nbsp;Check today's price!
                    </div>
                    <a href='' class="track btn btn-primary d-flex justify-content-center align-items-center">
                        <i class="material-icons">show_chart</i>&nbsp;Price history
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<template id="template-ticket-container">
    <div class="ticket-container rightfade">
        <div class="card text-center">
            <div class="total card-header">
                {{!-- total_price --}}
            </div>

            <div class="main card-block">
                <div class="row">
                    <div class="col-5">
                        <h4 class="card-title d-flex justify-content-center">
                            <i class="material-icons">airplanemode_active</i>
                            &nbspFlight Price
                        </h4>
                        <p class="card-text d-flex justify-content-center">
                            <i class="material-icons">attach_money</i>
                            {{!-- Flight_price --}}
                        </p>
                    </div>

                    <div class="col-2 d-flex justify-content-center align-items-center">
                        <i class="material-icons">add</i>
                    </div>

                    <div class="col-5">
                        <h4 class="card-title d-flex justify-content-center">
                            <i class="material-icons">hotel</i>
                            &nbspHotel Price
                        </h4>
                        <p class="card-text d-flex justify-content-center">
                            <i class="material-icons">attach_money</i>
                            {{!-- Hotel_price --}}
                        </p>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-12 text-center">
                        <div class="card-header d-flex justify-content-center" style="padding: 8px; margin-bottom: 10px">
                            <i class="material-icons">airplanemode_active</i>
                            &nbspFLIGHT INFO
                        </div>
                    </div>

                    <div class="col-6">
                        <p class="card-text d-flex justify-content-center">
                            <i class="material-icons">date_range</i>
                            {{!-- dDate --}}
                        </p>
                        <p class="card-text d-flex justify-content-center">
                            <i class="material-icons">access_time</i>
                            {{!-- dTime --}}
                        </p>

                        <img src="" alt="">
                        <small class="text-muted text-center d-flex justify-content-center">
                            <div class="d-flex justify-content-center align-items-center trip">
                                <i class="material-icons">flight_takeoff</i>
                                {{!-- Origin --}}
                            </div>
                            <div class="d-flex justify-content-center align-items-center trip">
                                <i class="material-icons">trending_flat</i>
                                {{!-- Destination --}}
                            </div>
                        </small>

                    </div>

                    <div class="col-6">
                        <p class="card-text d-flex justify-content-center">
                            <i class="material-icons">date_range</i>
                            {{!-- rDate --}}
                        </p>
                        <p class="card-text d-flex justify-content-center">
                            <i class="material-icons">access_time</i>
                            {{!--rTime --}}
                        </p>
                        <img src="" alt="">
                        <small class="footertext d-flex justify-content-center">
                            <div class="d-flex justify-content-center align-items-center trip">
                                <i class="material-icons">flight_takeoff</i>
                                {{!-- Origin --}}
                            </div>
                            <div class="d-flex justify-content-center align-items-center trip">
                                <i class="material-icons">trending_flat</i>
                                {{!-- Destination --}}
                            </div>
                        </small>
                    </div>

                    <div class="col-12">
                        <a href="" class="btn btn-primary card-text" target="_blank">Book Now</a>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-12">
                        <div class="card-header d-flex justify-content-center" style="padding: 8px; margin-bottom: 10px">
                            <i class="material-icons">hotel</i>
                            &nbspHOTEL INFO
                        </div>

                        <p class="card-text d-flex justify-content-center">
                            <i class="material-icons">assignment</i>
                            {{!-- porpertyName --}}
                        </p>
                        <p class="card-text d-flex justify-content-center">
                            <i class="material-icons">home</i>
                            {{!-- Hotel_address --}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="card-footer text-muted"></div>
        </div>
    </div>
</template>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script type='text/javascript' src="js/allPackages.js"></script>