<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="#">
        <span>LIMITLESS</span> TRAVEL</a>


    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#info2">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users">Login</a>
        </li>
    </ul>

</nav>



<section id="showcase">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="showcase-right">
                    <h1>
                        <span>LIMITLESS</span> TRAVEL
                    </h1>
                    <p>Looking for a budget, awesome package click here to book your first flight</p>
                </div>
                <br>
                <a href="/users/search" class="btn btn-primary">Search Your Plans Now</a>
            </div>
        </div>
    </div>
</section>

<section id="testimonial">
    <div class="container">
        <p>Award Wining Travel app in 2017, one of the most reliable app i have ever used, one word to describe it "delightful"</p>
        <p class="customer">- Mark Zuckerbrid (CFO of Facedog)-</p>
    </div>
</section>

<section id="info1">
    <div class="container">
        <div class="row">
            <div class="col-md-12"></div>
            <div class="info-right">
                <i class="material-icons">all_inclusive</i>
                <h2>LimitLess Travel Pro</h2>
                <p>Looking for more options and more responsive services, starting from $100 per year</p>
                <br>
                <a href="#" class="btn btn-primary">Subscribe</a>
            </div>
        </div>
    </div>


</section>

<section id="info2">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-6 ">
                <div class="info-left">
                    <i class="material-icons">flight</i>
                    <h2>Destination</h2>

                    <p>Anywhere you watned to travel in the world, we do up to 190 countries.
                        <br>Life is short, keep it going.</p>
                </div>
            </div>

            <div class="col-md-6 ">
                <div class="info-right">
                    <i class="material-icons">hotel</i>
                    <h2>Hotels</h2>

                    <p>Limitless Travel provide you the best idea and afforable hotel,
                        <br> simply enter where you want to go and your desired travel dates.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-5 ">
                <form>
                    <div class="form-group">
                        <label for="formGroupExampleInput">
                            <i class="material-icons">perm_identity</i>Name</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="type your name here">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">
                            <i class="material-icons">email</i>Email</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="type your email here">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">
                            <i class="material-icons">message</i>Message</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="type your message here"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>

        </div>
    </div>
</section>

<footer>
    <p class="text-center">Limitless Travel Copyright &copy; 2018</p>
</footer>