<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <span>LIMITLESS</span> TRAVEL</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#showcase">Home</a>
                </li>
                <li>
                    <a href="#info1">About</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
                <li>
                    <a href="/users">login</a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<section id="showcase">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="showcase-right">
                    <h1>
                        <span>LIMITLESS</span> TRAVEL</h1>
                    <p>Looking for a budget, awesome package click here to book your first flight</p>
                </div>
                <br>
                <a class="btn btn-default btn-lg showcase-btn">Book Your flight</a>
            </div>
        </div>
    </div>
</section>

<section id="testimonial">
    <div class="container">
        <p>Award Wining Travel app in 2017, one of the most reliable app i have ever used, one word to describe it "delightful"</p>
        <p class="customer">- Mark Suckerburg (CEO of Facedog)-</p>
    </div>
</section>

<section id="info1">
    <div class="container">
        <div class="row">
            <div class="col-md-12"></div>
            <div class="info-right">
                <i class="material-icons">all_inclusive</i>
                <h2>LimitLess Travel Pro</h2>
                <p>Looking for more options and more responsive services, starting from $100 per year</p>
                <br>
                <a class="btn btn-default btn-lg">Subscribe</a>
            </div>
        </div>
    </div>


</section>

<section id="info2">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-6 ">
                <div class="info-left">
                    <i class="material-icons">flight</i>
                    <h2>Destination</h2>

                    <p>Anywhere you watned to travel in the world, we do up to 190 countries. Life is short, keep it going.</p>
                </div>
            </div>

            <div class="col-md-6 ">
                <div class="info-right">
                    <i class="material-icons">hotel</i>
                    <h2>Hotels</h2>

                    <p>Limitless Travel provide you the best idea and afforable hotel, simply enter where you want to go and
                        your desired travel dates.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-5 ">
                <form>
                    <div class="form-group">
                        <label>Name: </label>
                        <input class="form-control" type="text" name="" value="" placeholder="Enter Name">
                    </div>
                    <div class="form-group">
                        <label>Email: </label>
                        <input class="form-control" type="text" name="" value="" placeholder="Enter Email">
                    </div>
                    <div class="form-group">
                        <label>Message: </label>
                        <textarea class="form-control" name="" value="" placeholder="Enter Message"></textarea>
                    </div>
                    <button class="btn btn-default">Submit</button>
                </form>
            </div>
            <div class="col-md-7 col-sm-7">

            </div>
        </div>
    </div>
</section>

<footer>
    <p class="text-center">Limitless Travel Copyright &copy; 2018</p>
</footer>