<link rel="stylesheet" href="css/loader.css">
<script src="js/loader.js"></script>
<header class="v-header container">
    <div class="fullscreen-video-wrap">
        <video src="./travel.mov" autoplay="true" loop="true"></video>
    </div>

    <div class="header-overlay"></div>
    <div class="header-content">
        <h1>
            <span>LIMITLESS</span> TRAVEL</h1>
        <p>We do offer travelling deals at any budget, sign in and book your first flight, stay wander</p>
        <a href="#" class="btn">Read More</a>
        <a class="google-btn" href="/auth/google">Google+</a>
        <a class="facebook-btn" href="/auth/facebook">Facebook</a>
    </div>
</header>