<template id="template1">

    <div class="container">
        <h1 class="brand">
            <span>LITMITLESS</span>
            TRAVEL
        </h1>

        <div class="wrapper animated bounceInLeft">

            <div class="personal-info">
                <div class="card" style="width: 20rem;">
                    <center class="m-t-30">
                        <img class="img-circle" width="150" src="https://instagram.fhkg4-2.fna.fbcdn.net/vp/be75f97bab1de1b5c69512246f61ba4a/5B300811/t51.2885-19/s320x320/26867195_134575720677086_3226662449625169920_n.jpg">

                        <div class="card-block">

                            <h3 class="card-title">
                                <i class="material-icons">face</i>
                                Hugo Cheng
                            </h3>

                            <small class="card-subtitle">
                                <i class="material-icons">work</i>
                                Front-End Web Developer
                            </small>
                        </div>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <i class="material-icons">email</i>
                                <small> Email:</small>
                            </li>

                            <li class="list-group-item">
                                <i class="material-icons">phone</i>
                                <small>Phone Number:</small>
                            </li>

                            <li class="list-group-item">
                                <i class="material-icons">home</i>
                                <small>Home Address:</small>
                            </li>
                        </ul>

                        <div class="card-block">
                            <h4>
                                <i class="material-icons">airplanemode_active</i>
                                Your Package
                            </h4>
                        </div>
                    </center>
                </div>

                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="img/image2.jpg" class="" alt="Card image cap">

                    <div class="card-block">
                        <h4 class="card-title">
                            <i class="material-icons">landscape</i>
                            Stay Wild
                            <i class="material-icons">landscape</i>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="secondpart">

                <div class="card text-center">
                    <form>
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="material-icons">filter_list</i>
                                Search
                            </h3>
                        </div>

                        <div class="card-body">

                            <div class="slidecontainer">
                                <label for="example-datetime-local-input" class="col-12 col-form-label d-flex align-items-center justify-content-center">
                                    <i class="material-icons">attach_money</i>
                                    Budget
                                </label>

                                <input type="range" value="5000" step="100" min="1000" max="50000" style='width: 300px'>
                                <br>
                                <span>$ </span>
                                <output style="font-size: 32px">5000</output>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <i class="material-icons">flight_takeoff</i> Depature Date</label>
                                    </div>
                                    <input type="text" class="text-center" id="departure_date">
                                </div>
                                <div class="col-6">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <i class="material-icons">flight_takeoff</i> Retrun Date</label>
                                    </div>
                                    <input type="text" class="text-center" id="return_date">
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>

                    </form>
                </div>

            </div>

        </div>
    </div>

</template>

<div id="content-container"></div>