<script src="js/search.js"></script>

<form>
    <div class="form-group">
        <label for="formGroupExampleInput">Budget</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Departure Date</label>
        <input type="text" class="form-control" id="formGroupExampleInput1" placeholder="Another input">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Return Date</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>